
@import './src/scss/variables.scss';

// Scrollbars:
::-webkit-scrollbar {
    width:  $scrollbarWidth;
    height: $scrollbarWidth;
}

::-webkit-scrollbar-thumb {
    background: #1eaedb;
    border-radius: $scrollbarWidth;
}

::-webkit-scrollbar-track {
    background: black;
    border-radius: $scrollbarWidth;
}

// For Internet Explorer
body {
    scrollbar-face-color: #1eaedb;
    scrollbar-track-color: black;
}